@import url('https://fonts.googleapis.com/css?family=Exo');
$basicfont: 'Exo', san-serif;
$contentfg: greenyellow;
$contentbg: rgba(0, 0, 0, 0.9);
$overallbg: url('./Content/Images/grungebg.png');

* {
    font-family: $basicfont;
}

body {
    padding-top: 50px;
    color:white;
    background: $overallbg;
}

.panel, .btn-default {
	// clear existing borders
    border: 0;
}

.panel-body {
    color: $contentfg;
    background-color: $contentbg;
	border-radius:5px;
}

.navbar-fixed-top {
    color: $contentfg;
    background: black;
}

.navbar-fixed-top {
	a {
		background-color:$contentbg;
		color:greenyellow;
	}
}

.nav > li > a:hover {
    background-color:darkgreen;
    color:white;
}

.btn {
    background-color: black;
    color:greenyellow;
}

footer {
    color: black;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
	background-color: rgba(0,0,0,0.2);
	min-height:110vh;
	padding-bottom:50px;
	border-left: 1px solid $contentfg;
	border-right: 1px solid $contentfg;
}

/* Set widths on the form inputs since otherwise they're 100% wide */
input,
select,
textarea {
    max-width: 280px;
}


/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .jumbotron {
        margin-top: 20px;
    }

}

/*Overiding styles for testing of GUI only*/

